@model IEnumerable<Erfarenhet>

<h2>Redigera erfarenhetslista</h2>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Beskrivning</th>
                <th>Åtgärder</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var erfarenhet in Model)
            {
                <tr>
                    <td>@erfarenhet.Title</td>
                    <td>@erfarenhet.Beskrivning</td>
                    <td>
                        <a class="btn btn-secondary mb-3" asp-action="EditErfarenhet" asp-route-id="@erfarenhet.Id">Redigera</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
