@model IEnumerable<DataLayer.Models.Erfarenhet>

<h2>Erfarenhetslista</h2>

<table>
    <tr>
        <th>Titel</th>
        <th>Beskrivning</th>
        <th></th>
    </tr>
    @foreach (var erfarenhet in Model)
    {
        <tr>
            <td>@erfarenhet.Title</td>
            <td>@erfarenhet.Beskrivning</td>
            <td><a asp-action="EditErfarenhet" asp-route-id="@erfarenhet.Id">Redigera</a></td>
        </tr>
    }
</table>
