@model IEnumerable<Kompetens>

<h2>Kompetenslista</h2>

<table>
    <tr>
        <th>Titel</th>
        <th>Beskrivning</th>
        <th></th>
    </tr>
    @foreach (var kompetens in Model)
    {
        <tr>
            <td>@kompetens.Titel</td>
            <td>@kompetens.Beskrivning</td>
            <td><a asp-action="EditKompetens" asp-route-id="@kompetens.Id">Redigera</a></td>
        </tr>
    }
</table>
