@model IEnumerable<DataLayer.Models.Utbildning>

<h2>Utbildningslista</h2>

<table>
    <tr>
        <th>Namn</th>
        <th>Beskrivning</th>
        <th></th>
    </tr>
    @foreach (var utbildning in Model)
    {
        <tr>
            <td>@utbildning.Namn</td>
            <td>@utbildning.Beskrivning</td>
            <td><a asp-action="EditUtbildning" asp-route-id="@utbildning.Id">Redigera</a></td>
        </tr>
    }
</table>
